<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoApp" 
            path="*" verb="*" 
            modules="FastCgiModule" 
            scriptProcessor="C:\Users\dhtha\AppData\Local\Programs\Python\Python39\python.exe|C:\Users\dhtha\AppData\Local\Programs\Python\Python39\lib\site-packages\wfastcgi.py" 
            resourceType="Unspecified" 
            requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Workspace\social-analysis\SocialAnalysis" />
        <!-- The handler here is specific to Bottle; see the next section. -->
        <add key="WSGI_HANDLER" value="imp_social_analysis.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="imp_social_analysis.settings" />

    </appSettings>
</configuration>